<% include partials/header %>

<div class="container">
  <div class="row">
    <h1 class="top-of-page-text">Comment on this post</h1>
    <div class="page-main-action">
      <form action="/feed/<%= status._id %>" method="POST"> 
        <button class="textbox-submit btn btn-primary">Submit</button>
        <div class="textbox form-group">
          <input
            class="form-control"
            type="text"
            name="text"
            placeholder="comment"
            onfocus="this.placeholder=''"
            onblur="this.placeholder='comment'"
          />
        </div>
      </form>
    </div>
  </div>

  <div class="status-outline">
    <div class="panel panel-default col-xs-12" id="initial-comment">
      <div class="panel-body">
        <h3><a href="/users/<%= status.author.id %>"><%= status.author.username %></a></h3>
        <p><%= status.text %></p>
        <% if (currentUser) { %>
          <% if (status.author.id.equals(currentUser._id)) { %>
            <form
              class="comment-button"
              action="/feed/<%= status._id %>?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } %>
        <% } %>
      </div>
      <% if (status.comments.length) { %>
        <% status.comments.forEach(comment => { %>
          <div class="panel panel-default" id="comment">
            <div class="panel-body">
              <p>
                <strong><a href="/<%= comment.author.id %>"><%= comment.author.username %></a></strong> - <%= comment.text %>
              </p>
              <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                <a
                  href="/feed/<%= status._id %>/<%= comment._id %>/edit"
                  class="btn btn-xs btn-warning"
                  >Edit</a
                >
                <form
                  class="comment-button"
                  action="/feed/<%= status._id %>/<%= comment._id %>?_method=DELETE"
                  method="POST"
                >
                  <button class="btn btn-xs btn-danger">Delete</button>
                </form>
              <% } %>
            </div>
          </div>
        <% }); %>
      <% } %>
    </div>
  </div>
</div>

<% include partials/footer %>