<!-- This is the user's profile page.  It displays all posts by the user,
  and also has a button to let other users follow or unfollow him. -->

<% include partials/header %>

<div class="container">
	<h1 class="top-of-page-text"><%= pageOwner.username %></h1>

  <!-- A user can follow the owner of the page, or unfollow if already following -->
	<div class="page-main-action">
		<% if (!isFollowing) { %>
      <form action="/follow/<%= pageOwner._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Follow</button>
        </div>
      </form>
		<% } else if (!pageOwner.equals(currentUser)) { %>
      <form action="/follow/<%= pageOwner._id %>?_method=DELETE" method="POST">
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Unfollow</button>
        </div>
      </form>
		<% } %>
	</div>

  <!-- Display all statuses from the page owner -->
	<% statuses.forEach(status => { %>
    <div class="status-outline">
      <div class="panel panel-default col-xs-12" id="initial-comment">
        <div class="panel-body">
          <h3>
            <a href="/users/<%= status.author.id %>"
              ><%= status.author.username %></a
            >
          </h3>
          <p><%= status.text %></p>
          <% if (currentUser) { %>
            <a href="/feed/<%= status._id %>" class="btn btn-primary">Comment</a>
            <!-- If the logged in user is the current user,
              let her edit or delete the status -->
            <% if (status.author.id.equals(currentUser._id)) { %>
              <a href="/feed/<%= status._id %>/edit" class="btn btn-warning">Edit</a>
              <form
                class="comment-button"
                action="/feed/<%= status._id %>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-danger">Delete</button>
              </form>
            <% } %>
          <% } %>
        </div>

        <!-- If the status has comments, display them in the status card -->
        <% if (status.comments.length) { %>
          <% status.comments.forEach(comment => { %>
            <div class="panel panel-default" id="comment">
              <div class="panel-body">
                <p>
                  <strong
                    ><a href="/users/<%= comment.author.id %>"
                      ><%= comment.author.username %></a
                    ></strong
                  >
                  - <%= comment.text %>
                </p>
                <!-- If the logged in user owns the comment,
                  allow her to edit or delete it -->
                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                  <a
                    href="/feed/<%= status._id %>/<%= comment._id %>/edit"
                    class="btn btn-xs btn-warning"
                    >Edit</a
                  >
                  <form
                    class="comment-button"
                    action="/feed/<%= status._id %>/<%= comment._id %>?_method=DELETE"
                    method="POST"
                  >
                    <button class="btn btn-xs btn-danger">Delete</button>
                  </form>
                <% } %>
              </div>
            </div>
          <% }); %>
        <% } %>
      </div>
    </div>
	<% }); %>
</div>

<% include partials/footer %>
